body{
    font-family: font-family: 'Roboto', sans-serif;
    
}
.banner-container{
    background-color: rgb(221, 209, 209);
}

.banner-col{
    background-color: rgb(92, 90, 87);
}
.nav-bg{
    background-color: rgb(37, 89, 168);
}
    a:hover{
        background:rgb(3, 46, 139);
        color: red;
    }
    a:active{
        background: rgb(57, 130, 240);
        color: white;
    }

.about-container{
    background-color: rgb(248, 246, 246);
}
.education-container{
    background-color: azure;
}
