body{
    font-family: font-family: 'Roboto', sans-serif;
    
}
.banner-container{
    background-color: rgb(221, 209, 209);
}

.banner-col{
    background-color: rgb(92, 90, 87);
}
.nav-bg{
    background-color: rgb(37, 89, 168);
}
    a:hover{
        background:rgb(24, 25, 27) !important;
       
    }
    a:active{
        background: rgb(57, 130, 240);
        color: white;
    }

.about-container{
    background-color: rgb(248, 246, 246);
}
.education-container{
    background-color: azure;
}

.hover:hover{
    background-color: #50555a !important;
    border: 20px rgb(15, 24, 3) !important;
    box-shadow: 2px 2px 10px black;
}
h3{
    text-align: center;
}
img{
    
    width: 40vw ;
    margin: auto;
    height: 30vw;
}
h5{
    font-size: smaller !important;
}
.p{
    font-size: smaller !important;
}
